---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I like empowering others. Regardless of inspiring them to do something, to share concrete knowledge that may help them, or to educate them with skills. I also find satisfaction in the notion that I can positively influence someone, whether through a small gesture or by providing support for their aspirations. It can start with a friendly smile and potentially lead to a meaningful impact. I genuinely appreciate these opportunities!
Detailed information will follow. 


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
